body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #d9d6d6;
}

#game {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
}

button {
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    background-color: rgb(255, 221, 0)
}

#progress-container {
    width: 50%;
    background-color: #ddd;
    border-radius: 5px;
    margin: 10px auto;
}

#progress-bar {
    width: 0%;
    height: 20px;
    background-color: #4CAF50; /* Verde */
    border-radius: 5px;
    transition: width 0.5s;
}